[submodule "faabric"]
	path = faabric
	url = https://github.com/ScalaSSC/faabric.git
[submodule "clients/python"]
	path = clients/python
	url = https://github.com/ScalaSSC/python.git
[submodule "clients/cpp"]
	path = clients/cpp
	url = https://github.com/ScalaSSC/cpp.git